<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>variable.html</h1>
    <h2>{{first_name | lower | capfirst}} {{second_name}}</h2>
    <h2>{{lst.0}}</h2>
    <ul>
    {% for x in lst %}
        <li>{{x}}</li>
    {% endfor %}
    </ul>
    <br>
    <ul>
        {% for k,v in fruit.items %}
            <li>{{k}}, {{v}}</li>
        {% endfor %}
    </ul>
    <h2>{{fruit.banana}}</h2>
</body>
</html>